<!-- Projects section -->
<section class="proyectos" id="proyectos">
    <h2 class="titulo-de-proyectos">Algunos de mis proyectos</h2>
    <div class="contenedor-de-proyectos">
      <div class="contenedor-de-proyecto tarjeta-de-proyecto">
        <img
          src="assets/images/acad-desginer.jpg"
          alt="acad"
          loading="lazy"
          class="foto-de-proyecto"
        />
        <h3 class="titulo-de-proyecto">Proyectista</h3>
        <p class="detalles-de-proyecto">
          Diseño mecanico de aerogeneradores, grúas, y dispositivos
        </p>
        <a href="https://www.youtube.com/watch?v=Ze0tgieSOm4" target="_blank" class="enlace-de-proyecto">Echale un vistazo!</a>
      </div>
      <div class="contenedor-de-proyecto tarjeta-de-proyecto">
        <img
          src="assets\images\bop.png"
          alt="bop"
          loading="lazy"
          class="foto-de-proyecto"
        />
        <h3 class="titulo-de-proyecto">Supervisor</h3>
        <p class="detalles-de-proyecto">
          Lider de equipo, diseño y administrador de procesos metalmecanicos
        </p>          
      </div>
      <div class="contenedor-de-proyecto tarjeta-de-proyecto">
        <img
          src="assets\images\jframestock.jpg"
          alt="bop"
          loading="lazy"
          class="foto-de-proyecto"
        />
        <h3 class="titulo-de-proyecto">Programador Jr</h3>
        <p class="detalles-de-proyecto">
          proyecto de control de stock de repuestos de pañol
        </p>          
      </div>        
    </div>
  </section>
