<!-- Social accounts - Fixed to the right -->
<div class="sociales">
    
    <a href="https://www.linkedin.com/in/leandro-marzonetto-586892173/" target="_blank"
      ><img
        src="assets/icons/icons8-linkedin-circled.gif"
        alt="Linkedin"
        loading="lazy"
        class="socicon"
    /></a>
    <a href="https://github.com/LeaMarz" target="_blank"
      ><img src="assets/icons/icons8-github.gif" alt="Github" class="socicon"
    /></a>
    <a href="https://twitter.com/marzonettolean" target="_blank"
        ><img
          src="assets/icons/icons8-twitter-circled.gif"
          alt="Twitter"
          loading="lazy"
          class="socicon"
      /></a>
    </div>
