 <!-- Skills section -->
 <section class="habilidades" id="habilidades">
    <h2 class="header-habilidadr">Habilidades</h2>
    

    <div class="contenedor-habilidades">
      <!--<div class="row">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>-->
      <div class="first-set animate__animated animate__pulse">          
        <img
          src="assets/icons/java.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/icons/python.jpg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/icons/autocad.jpg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />        
      </div>
    </div>
     
  </section>
  
