<!-- More about -->
<section class="edu" id="edu">
    <h2>Educación</h2>
    <ul >
      <li *ngFor="let formacion of edu ">
        <div class="d-flex justify-content-between">
            <div>
              <div><p id="text-eduinst">{{formacion.institucion}}</p></div>
              <div><p id="text-eduti">{{formacion.titulo}}</p></div>
              <div><p id="edudate">{{formacion.fecha}}</p></div>
            </div>                      
          <div class="edu-img"><a [href]="formacion.web" target="_blank">
            <img  [src]="formacion.urlLogo"/>
          </a>
        </div> 
      </div> 
      </li>
      
    </ul>
  </section>